{{ if eq .chezmoi.osRelease.id "cachyos" -}}
#!/bin/bash
sudo pacman -S --needed{{ range .packages.arch.pacman }} {{ . }}{{ end }}
yay -S --needed{{ range .packages.arch.yay }} {{ . }}{{ end }}
{{ end }}
